<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tango.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>27BCCD1A1D4452680047AD11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27BCCD2E1D4452680047AD11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27BCCD391D4452680047AD11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
